.content {
  margin-left: 320px;
  padding: 20px;
}

.page-head {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 12px;
}

label {
  margin-bottom: 5px;
  font-size: 12px;
  color: #2992d8;
  font-weight: bold;
}

.container {
  padding: 20px;
  background-color: #39a0ff;
}
h1 {
  color: white;
  text-align: center;
}

.div-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-container,
.table-container {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: 98%;
}
.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: rgb(213, 3, 3);
  color: white;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: rgb(237, 5, 5);
}

.bonus-settings {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 49%;
}

.bs1 {
  margin-right: 1%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}
.tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.tab-button {
  background-color: #39a0ff;
  color: white;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.tab-button.active {
  background-color: #002e6d;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.submit-btn-red {
  background-color: red;
}

@media screen and (max-width: 600px) {
  .bonus-settings {
    width: 48%;
  }
}

@media screen and (max-width: 400px) {
  .bonus-settings {
    width: 47%;
  }
}

@media screen and (max-width: 300px) {
  .bonus-settings {
    width: 46%;
  }
}

@media screen and (max-width: 250px) {
  .bonus-settings {
    width: 45%;
  }
}
